* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.current-player {
  margin-top: 25px;
  text-align: center;
}

.board {
  display: flex;
  flex-flow: row wrap;
  width: 261px;
  height: 261px;
  margin-top: 50px;
  border: 1px black solid;
}

.board-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  padding: 0;
  text-align: center;
  border: 1px black solid;
  font-size: 85px;
}

